<!DOCTYPE html>
<html leng="en">

<head>
    <meta charset="UTF-8">
    <title>이미지 유사도 테스트 페이지</title>
</head>

<body>
    <h1>이미지 유사도 테스트 페이지</h1>
    <div>
        <div id="minwon-bar" class="progress-bar">
            <div class="progress"> </div>
        </div>
    </div>
    <div>
        <input type="file" id="uploadFile" name="uploadFile">
        <button id="btn_submit" onclick="fn_submit()">측정</button>
    </div>
    <br /><br />
    <div id="append_html">
    </div>
</body>

<script type="text/javascript">
    //파일 업로드
    function fn_submit() {
        let form = new FormData();
        form.append("uploadFile", $("#uploadFile")[0].files[0]);

        jQuery.ajax({
            url: "/api/similarity/images"
            , type: "POST"
            , processData: false
            , contentType: false
            , data: form
            , beforeSend: function (xhr) {
                // progress bar
                const bar = document.querySelector("#minwon-bar .progress")  // 민원바
                const bar2 = document.querySelector(".progress-bar2")  // 민원바
                const bar3 = document.querySelector(".progress-bar3")  // 여러 색 민원바
                const donut = document.getElementsByClassName("donut")[0]
                const donut2 = document.getElementsByClassName("donut")[1]

                let totalMinwon = 100, resolveMinwon = 0
                let t = 0
                bar.style.width = 0
                const barAnimation = setInterval(() => {
                    bar.style.width = t + '%'
                    t++ >= totalMinwon && clearInterval(barAnimation)
                }, 10)

                let t2 = 0
                const barAnimation2 = setInterval(() => {
                    bar2.style.background = `linear-gradient(to right, #4F98FF 0 ${t2}%, #dedede ${t2}% 100% )`
                    t2++ >= totalMinwon && clearInterval(barAnimation2)
                }, 10)

                let t3 = 0
                const barAnimation3 = setInterval(() => {
                    bar3.style.background = totalMinwon > t3 ? `linear-gradient(to right, #4F98FF 0 ${t3}%, #dedede ${t3}% 100% )` :
                        totalMinwon + resolveMinwon > t3 ? `linear-gradient(to right, #4F98FF 0 ${totalMinwon}%, #f44336 ${totalMinwon}% ${t3}%, #dedede ${t3}% 100%)` :
                            `linear-gradient(to right, #4F98FF 0 ${totalMinwon}%, #f44336 ${totalMinwon}% ${totalMinwon + resolveMinwon}%, #dedede ${totalMinwon + resolveMinwon}% 100%)`
                    t3++ >= totalMinwon + resolveMinwon && clearInterval(barAnimation3)
                }, 10)

                let t4 = 0
                const donutAnimation = setInterval(() => {
                    donut.dataset.percent = t4
                    donut.style.background = `conic-gradient(#4F98FF 0 ${t4}%, #DEDEDE ${t4}% 100% )`
                    t4++ >= totalMinwon && clearInterval(donutAnimation)
                }, 10)

                let t5 = 0
                const donutAnimation2 = setInterval(() => {
                    donut2.dataset.percent = t5
                    donut2.style.background = totalMinwon > t5 ? `conic-gradient(#4F98FF 0 ${t3}%, #dedede ${t3}% 100% )` :
                        totalMinwon + resolveMinwon > t5 ? `conic-gradient(#4F98FF 0 ${totalMinwon}%, #f44336 ${totalMinwon}% ${t3}%, #dedede ${t3}% 100%)` :
                            `conic-gradient(#4F98FF 0 ${totalMinwon}%, #f44336 ${totalMinwon}% ${totalMinwon + resolveMinwon}%, #dedede ${totalMinwon + resolveMinwon}% 100%)`
                    t5++ >= totalMinwon + resolveMinwon && clearInterval(donutAnimation2)
                }, 10)

                const repeat = setInterval(() => {
                    barAnimation() || barAnimation2() || barAnimation3()
                    donutAnimation() || donutAnimation2()
                })
            }
            , success: function (response) {
                const selectImgName = $("#uploadFile")[0].files[0].name.split('.')[0]

                let appendHtml = ''

                appendHtml += '<div>'
                appendHtml += '    <h1>[선택한 이미지 - ' + selectImgName + ']</h1>'
                appendHtml += '    <img class="dp_img" src="https://test-contents.lotteon.com/module/screenshot/' + selectImgName + '.webp" />'
                appendHtml += '</div>'
                appendHtml += ''
                appendHtml += '<br /><br />'

                for (let i = 0; i < response.length; i++) {
                    const imgName = response[i][0].split('.')[0]
                    const score = response[i][1]

                    appendHtml += '<div>'
                    appendHtml += '    <h1>' + (i + 1) + '. SCORE[' + imgName + ']: ' + score + '</h1>'
                    // appendHtml += '    <img src="../static/src/images/' + response[i][0].split('.')[0] + '.jpeg" />'
                    appendHtml += '    <img class="dp_img" src="https://test-contents.lotteon.com/module/screenshot/' + imgName + '.webp" />'
                    appendHtml += '</div>'
                    appendHtml += '<br /><br />'
                }

                $('#append_html').html(appendHtml)
            }
            , error: function (jqXHR) {
                alert(jqXHR.responseText);
            }
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="../static/css/base.css">

</html>